.CreateProducts {
  /* border: 1px solid black; */
}

form>div.avatar {
  /* border: 1px solid black; */
  height: auto;
  width: 100%;
  display: flex;
}

form div div.action {
  /* border: 1px solid black; */
  width: 100%;
}

@media screen and (max-width: 960px) {
  form>div>div.action select {
    width: 100%;
  }
}