.productEdit {
  max-width: 1000px;
  margin: 30px auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
}

form {
  width: 100%;
  /* border: 1px solid red; */
  margin: 20px 0;
}

form>div {
  display: flex;
  padding: 10px 5%;
  /* border: 1px solid black; */
  justify-content: center;
  flex-direction: row;
}

form>div.category {
  display: flex;
  padding: 10px 5%;
  /* border: 1px solid black; */
  justify-content: center;
  flex-direction: row;
}

form>div label {
  width: 40%;
}

form>div input {
  width: 50%;
  padding: 8px 20px
}

form>div select {
  width: 50%;
  padding: 8px 20px;
}

select>option {
  padding: 8px 20px;
}

.image-view {
  justify-content: space-around;
  /* border: 1px solid black; */
  flex-direction: row;
}

.image-view img {
  /* border: 1px solid black; */
  max-width: 100%;
  height: 12rem;
  width: 12rem;
  object-fit: cover;
  /* border-radius: 8rem; */
}

.summit-button {
  justify-content: space-around;
}

.summit-button button {
  padding: 8px 20px;
  width: 80%;
  max-width: 400px;
  color: #fff;
  background-color: #000;
  border-radius: 4px;
}

.summit-button button:hover {
  color: #000;
  background-color: transparent;
}

@media screen and (max-width: 960px) {
  form>div {
    flex-direction: column;
    gap: 1rem;
  }
  form>div.category {
    flex-direction: column;
    gap: 1rem;
  }
  form>div label, form>div input, form>div select {
    width: 100%;
  }
  .summit-button {
    display: flex;
    /* justify-content: space-around; */
    flex-direction: row;
  }
  .summit-button button {
    width: 100%;
  }
}