.deviceEdit {
  max-width: 1000px;
  margin: 30px auto;
  padding: 0 10px
}

.title {
  text-align: center;
}

.deviceEdit form {
  width: 100%;
  /* border: 1px solid black; */
  margin: 20px 0;
}

.deviceEdit form>div {
  display: flex;
  padding: 10px 5%;
}

.deviceEdit form>div label {
  width: 40%;
}

.deviceEdit form>div input {
  width: 50%;
  padding: 8px 20px
}

.deviceEdit form>div select {
  width: 50%;
  padding: 8px 20px
}

.deviceEdit form>div.hiddenFile {
  display: none;
}

.image-view {
  justify-content: space-around;
}

@media screen and (max-width: 960px) {
  .deviceEdit form>div select, .deviceEdit form>div input {
    width: 100%;
  }
}
