.container {
    width: 100%;
    display: inline-block;
    position: relative;
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 0.75rem;
}

.title {
    font-size: 2rem;
    font-weight: 700;
}

.select {
    box-shadow: none;
    background-color: white;
    padding: 12px;
    border-radius: 0.75rem;
    border: 2px solid gray;
    width: max-content;
}

.label {
    display: block;
    padding: 10px;
    padding-left: 0;
    border-radius: 0.75rem;
    // border: 2px solid gray;
    margin-right: 1rem;
}

.exportLabel {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.action button {
    padding: 3px 15px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.action button:hover {
    background-color: #d3f36b;
}

.action button:disabled:hover {
    background-color: unset;
}

.exportButton {
    cursor: pointer;
    padding: 0.4rem 2rem;
    background-color: var(--secondaryColor);
    color: black;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;

    .icon {
        width: 1rem;
        margin-right: 0.5rem;
        transition: 0.3s;
    }

    &:hover {
        background-color: var(--secondaryColorDarker);

        .icon {
            transform: rotate(90deg);
        }
    }
}