.container {
  max-width: 1000px;
  margin: 30px auto;
  padding: 0 10px
}

.title {
  text-align: center;
}

form {
  width: 100%;
  /* border: 1px solid black; */
  margin: 20px 0;
}

input::placeholder {
  opacity: 0.5;
}

form>div {
  display: flex;
  /* border: 1px solid black; */
  flex-direction: column;
}

form>div>div {
  display: flex;
  padding: 10px 5%;
  align-items: center;
}

form>div label {
  width: 40%;
}

form>div input {
  width: 50%;
  padding: 8px 20px;
  border: 1px solid black;
  border-radius: 4px;
}

form>div select {
  width: 50%;
  padding: 8px 20px;
  border: 1px solid black;
  border-radius: 4px;
}

select>option {
  padding: 8px 20px;
  color: rgb(156, 142, 142);
}

.avatar-view {
  /* border: 1px solid black; */
  /* justify-content: center; */
  align-items: center;
  padding: 0 20px 20px;

}

.avatar-view img {
  width: 16vw;
  height: 16vw;
  object-fit: cover;
  border-radius: 50%;
}

div.alert p {
  color: red;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button-summit {
  padding: 10px 5%;
  display: flex;
  /* border: 1px solid black; */
  align-items: center;
}

.button-summit button {
  padding: 8px 20px;
  width: 60%;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
}

.button-summit button:hover {
  background-color: #fff;
  color: #000;
}

@media screen and (max-width: 960px) {
  .button-summit button {
    display: block;
  }
  form>div>div {
    flex-direction: column;
  }
  form>div>div label {
    margin-bottom: 5px;
    width: 50%;
  }
}