.createUnit {
    display: inline-block;
    position: relative;
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 0.75rem;
}

.createUnit div {
    display: block;
    align-items: center;
}

.createUnit label {
    display: block;
    padding: 10px;
    padding-left: 0;
    border-radius: 0.75rem;
    // border: 2px solid gray;
    margin-right: 1rem;
}

.input {
    display: inline-block;
    padding: 10px;
    border-radius: 0.75rem;
    border: 2px solid gray;
    transition: 0.3s;
    width: 20rem;
}

.input:focus {
    border: 2px solid black;
}

#unitType {
    box-shadow: none;
    background-color: white;
    padding: 10px;
    border-radius: 0.75rem;
    border: 2px solid gray;
    width: max-content;
    // border-right: 16px solid transparent
}

#unitType option {
    
    display: block;
    color: black;
    padding: 10px;
    margin: 10px 10px;
}

.createButton {
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    width: 10rem;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #d3f36b;
}

.createButton .icon {
    width: 1rem;
    transition: inherit;
}

.createButton span {
    transition: 0s;
    margin-left: 0.7rem;
}

.createButton:hover {
    background-color: #fed337;

    .icon {
        transform: rotate(90deg);
    }

    span {
        font-weight: bold;
    }
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

// .unitName lable {
//     // top: -100%;
// }
